@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--blue-light:   #89d3fd;
	--blue-dark:    #067df7;
	--gold:         #ffbd2e;
	--green:        #5ce6cd;
	--purple-light: #7775A7;
	--red:          #ff0080;

	--text-color:   #cbd5e0;
	--bg-color:     hsl(240, 21%, 7%);
	--button-color:       hsl(182, 25%, 50%); /* cadetblue */
	--button-color-hover: hsl(182, 35%, 50%);
	--headline-color:     hsl(172, 88%, 24%); /* ~ text-green-800 */
	--global-line-height: 1.375; /* 'leading-snug' */

	--transition-duration: 320ms;
}

.white        { color: #fff; }
.blue-light   { color: var(--blue-light); }
.blue-dark    { color: var(--blue-dark); }
.gold         { color: var(--gold); }
.green        { color: var(--green); }
.papayawhip   { color: papayawhip; }
.pink         { color: hotpink; }
.purple-light { color: var(--purple-light); }
.red          { color: var(--red); }

::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { background-color: hsla(218, 40%, 50%, 0.08); border-radius: 3px; }
::-webkit-scrollbar-thumb { background-color: hsl(218, 13%, 64%); border-radius: 3px; }

html {
	scrollbar-width: thin;
	scrollbar-color: hsl(218, 13%, 64%) hsla(218, 40%, 50%, 0.08);
	background-color: var(--bg-color);
	color: var(--text-color);
	height: -webkit-fill-available;
}

body {
	height: 100vh;
	height: -webkit-fill-available;
	font-family: Menlo, 'DejaVu Sans Mono', 'Lucida Console', monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

pre:empty,
div:empty,
p:empty {
	@apply m-0;
}

.ascii-text {
	font-family: 'Courier New', Courier, monospace;
	font-size: 0.75rem;
	line-height: 1;
}

.base-column {
	max-width: 44rem;

	@screen lg {
		max-width: 49rem;
	}
}

.headline {
	color: var(--headline-color);
}

.story {
	line-height: var(--global-line-height);

	p {
		margin-bottom: calc(var(--global-line-height) * 1rem);
	}

	> :last-child {
		@apply mb-0;
	}
}

.text-prewrap {
	@apply block whitespace-pre-wrap text-center;
}

.battle {
	line-height: var(--global-line-height);
	scroll-behavior: smooth;
}

.battle li:nth-child(2n+3),
.battle-result {
	margin-top: calc(var(--global-line-height) * 1rem);
}

.button {
	background-color: #1a202c;
	color: var(--button-color);
	font-size: 1rem;
	box-shadow: 0 0 0px 0px var(--bg-color), 0 0 0px 0px currentColor;
	transition: color 160ms, box-shadow 160ms;

	&:hover {
		color: var(--button-color-hover);
		box-shadow: 0 0 0px 1px var(--bg-color), 0 0 0px 2px currentColor;
	}
}

.input {
	background-color: hsl(230, 23%, 20%);
	color: inherit;
	font-size: 1.625rem;
	line-height: 2.375rem;
}
