:root {
	--green:        #5ce6cd;
	--red:          #ff0080;
	--bg-color:     hsl(240, 21%, 7%);
	--global-line-height: 1.375; /* 'leading-snug' */
	--transition-duration: 320ms;
}

.white        { color: #fff; }
.blue-light   { color: #89d3fd; }
.blue-dark    { color: #067df7; }
.gold         { color: #ffbd2e; }
.green        { color: var(--green); }
.papayawhip   { color: papayawhip; }
.pink         { color: hotpink; }
.purple-light { color: #7775a7; }
.red          { color: var(--red); }

::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { background-color: hsla(218, 40%, 50%, 0.08); border-radius: 3px; }
::-webkit-scrollbar-thumb { background-color: hsl(218, 13%, 64%); border-radius: 3px; }

html {
	scrollbar-width: thin;
	scrollbar-color: hsl(218, 13%, 64%) hsla(218, 40%, 50%, 0.08);
	background-color: var(--bg-color);
	color: #cbd5e0;
	height: -webkit-fill-available;
}

body {
	height: 100vh;
	height: -webkit-fill-available;
	font-family: Menlo, 'DejaVu Sans Mono', 'Lucida Console', monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

div:empty,
p:empty {
	@apply m-0;
}

.ascii-text {
	font-family: 'Courier New', Courier, monospace;
	font-size: 0.75rem;
	line-height: 1;
}

.base-column {
	max-width: 44rem;

	@screen lg {
		max-width: 49rem;
	}
}

.headline {
	color: hsl(172, 88%, 24%);
}

.story {
	@apply leading-snug;

	p,
	ul {
		margin-bottom: calc(var(--global-line-height) * 1rem);
	}

	li:nth-last-child(n + 2) {
		margin-bottom: calc(var(--global-line-height) * 0.5rem);
	}

	> :last-child {
		@apply mb-0;
	}
}

.text-prewrap {
	@apply block whitespace-pre-wrap text-center;
}

.battle {
	@apply scroll-smooth leading-snug;
}

.battle-strike:nth-child(2n + 3),
.battle-result {
	margin-top: calc(var(--global-line-height) * 1rem);
}

.button {
	background-color: #1a202c;
	color: hsl(182, 25%, 50%); /* cadetblue */
	box-shadow: 0 0 0px 0px var(--bg-color), 0 0 0px 0px currentColor;
	transition: color 160ms, box-shadow 160ms;

	&:focus-visible,
	&:hover {
		color: hsl(182, 35%, 50%);
		box-shadow: 0 0 0px 1px var(--bg-color), 0 0 0px 2px currentColor;
	}
}

.input {
	background-color: hsl(230, 23%, 20%);
	font-size: 1.625rem;
	line-height: 2.375rem;
}
