:root {
	--green: #5ce6cd;
	--red: #ff0080;
	--bg-color: hsl(240, 21%, 7%);
	--global-line-height: 1.375; /* 'leading-snug' */
	--transition-duration: 320ms;
}

.white { color: #fff; }
.blue-light { color: #89d3fd; }
.blue-dark { color: #067df7; }
.gold { color: #ffbd2e; }
.green { color: var(--green); }
.papayawhip { color: papayawhip; }
.pink { color: hotpink; }
.purple-light { color: #7775a7; }
.red { color: var(--red); }

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
::-webkit-scrollbar-track {
	background-color: hsla(218, 40%, 50%, 0.08);
	border-radius: 3px;
}
::-webkit-scrollbar-thumb {
	background-color: hsl(218, 13%, 64%);
	border-radius: 3px;
}

html {
	scrollbar-width: thin;
	scrollbar-color: hsl(218, 13%, 64%) hsla(218, 40%, 50%, 0.08);
	background-color: var(--bg-color);
	color: #cbd5e0;
}

body {
	height: 100vh;
	height: 100dvh;
	font-family: Menlo, 'DejaVu Sans Mono', 'Lucida Console', monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* https://unocss.dev/guide/style-reset#tailwind */
button {
	background-color: unset;
}

:is(div:empty, p:empty) {
	margin: unset;
}

.base-column {
	max-width: 44rem;

	@media (min-width: 64em) {
		max-width: 49rem;
	}
}

.headline {
	color: hsl(172, 88%, 24%);
}

.story {
	line-height: var(--global-line-height);

	:is(p, ul) {
		margin-bottom: calc(var(--global-line-height) * 1rem);
	}

	& li:nth-last-child(n + 2) {
		margin-bottom: calc(var(--global-line-height) * 0.5rem);
	}

	> :last-child {
		margin-bottom: unset;
	}
}

.button {
	background-color: #1a202c;
	color: hsl(182, 25%, 50%); /* cadetblue */
	box-shadow: 0 0 0px 0px var(--bg-color), 0 0 0px 0px currentColor;
	transition: color 160ms, box-shadow 160ms;

	&:focus-visible {
		color: hsl(182, 35%, 50%);
		box-shadow: 0 0 0px 1px var(--bg-color), 0 0 0px 2px currentColor;
	}

	@media (hover: hover) and (pointer: fine) {
		&:hover {
			color: hsl(182, 35%, 50%);
			box-shadow: 0 0 0px 1px var(--bg-color), 0 0 0px 2px currentColor;
		}
	}
}

.input {
	height: 3.25rem;
	background-color: hsl(230, 23%, 20%);
	font-size: 1.5rem;
}
